<p class="margin">
    <mat-toolbar>
        <div><img src="../../assets/img_avatar.png" alt="UR" class="avtar"></div>
        <div class="usr-disc">
            <p>Aayush Desai</p>
            <span>Online</span>
        </div>
        <span class="example-spacer"></span>
        <div class="app-flex">
            <form class="pad">
                <input matInput placeholder="search in chat">
                <button mat-icon-button>
                    <mat-icon class="fas fa-search"></mat-icon>
                </button>
            </form>
            <button mat-icon-button>
                <mat-icon class="fas fa-layer-group"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="fas fa-bell"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="fas fa-ellipsis-h"></mat-icon>
            </button>
        </div>
    </mat-toolbar>
  </p>

<div class="margin chat-box">
    <button mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>
    <input type="text" placeholder="Type a message..">

    <button mat-icon-button class="chat-box-button">
        <mat-icon class="fas fa-edit"></mat-icon>
    </button>
    <button mat-icon-button class="chat-box-button">
        <mat-icon class="fas fa-paperclip"></mat-icon>
    </button>
    <button mat-icon-button class="chat-box-button">
        <mat-icon class="far fa-smile"></mat-icon>
    </button>
    <button mat-icon-button class="chat-box-button">
        <mat-icon class="far fa-paper-plane"></mat-icon>
    </button>
</div>
