<div class="paddingup">
    <mat-icon class="fas fa-layer-group gap"></mat-icon>
    <mat-form-field class="gap">
        <input matInput placeholder="Files">
    </mat-form-field>

        <button mat-icon-button [matMenuTriggerFor]="filter" matTooltip="Filter">
            <mat-icon><i class="fa fa-filter"></i></mat-icon>
        </button>
        <mat-menu #filter="matMenu">
            <button mat-menu-item>
                <span>All</span>
            </button>
            <button mat-menu-item>
                <span>Public Channel</span>
            </button>
            <button mat-menu-item>
                <span>Private Channel</span>
            </button>
            <button mat-menu-item>
                <span>Personal</span>
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="sort" matTooltip="Sort List">
            <mat-icon><i class="fa fa-sort-amount-desc"></i></mat-icon>
        </button>
        <mat-menu #sort="matMenu">
            <button mat-menu-item>
                <span>Ascending</span>
            </button>
            <button mat-menu-item>
                <span>Descending</span>
            </button>
        </mat-menu>
</div>
